@font-face {
    font-family: font; /* Имя шрифта */
    src: url(font.otf); /* Путь к файлу со шрифтом */
   }
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #272727;
    font: 12pt/10pt font
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;
}

.window{
    background: #D7D9CE;
    width: 75%;
    min-width: 300px;
    max-width: 460px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.task{
    line-height: 1;
    text-align: center;
    height: 30px;
    padding-top: 15px
}

.options{
    line-height:2;
    height: 200px;
    margin-left: 20px
}
#list{
    list-style-type:none;
    display: none
}
.counter{
    height: 30px;
    display: flex;
    justify-content: space-around
}

button {
    margin: 45px auto;
    display: block;
    font-weight: 700;
    padding: .5em 2em;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    text-align: center
}
button:hover { background: rgba(255,255,255,.2); }
button:active { background: white; }
input, label{
    cursor: pointer
}

.result{
    display: none
}