@font-face {
font-family: FiraSansLight; 
src: url(fonts/FiraSansLight.woff);
}

@font-face {
font-family: FiraSansMedium; 
src: url(fonts/FiraSansMedium.woff);
}

@font-face {
font-family: FiraSansRegular; 
src: url(fonts/FiraSansRegular.woff);
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 60px
}

body{
    background-image: url(img/background.png);
    margin: 0;
    position: relative;
    min-height: 100% ;
    height: auto 
}

/*стили шапки*/
header{
    background: #eff3f7 url(img/line.png) bottom center no-repeat;
    padding: 1.3em 4em 1.3em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center   
}

.autoriz{
    color: #58697a
}
/*конец стили шапки*/

/*стили левого меню*/
.left-menu{
    border-radius: 10%;
    margin-right: 2em;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-content: center
}

.navigation a div{
    padding: 20px 0 20px 20px;
    background-color: #eff3f7;
    font: 1.1em FiraSansRegular;
    color: #959aa8;
    width: 11em
}

.addline{
    border-bottom: 2px solid #3ba8c0;
}

.navigation a div:hover{
    color: #3ba8c0;
}

.navigation a{
    text-decoration: none;
}

.color1{
    background-color: #3ba8c0;
}
.color2{
    background-color: #41b9d4
}
.color3{
    background-color: #48cbe8
}
.color4{
    background-color: #51daf8
}

.contact{
    margin-top: 2em
}

.cont{
    font: 1em FiraSansRegular;
    color: #fbfcfd;
    padding: 12px 0 12px 10px
}

.navigation a .current{
    background-color: #3ba8c0;
    color: #ffffff
}

.navigation a .current:hover{
    color: white
}
/*конец стили левого меню*/

.tech{
    padding: 4px;
    display: inline;
    text-align: center;
    vertical-align: middle;
    background: url(img/square.png);
    background-size:cover;
    color: white;
    border-radius: 10%;
    margin-right: 0.5em
}/*оформление навыков*/

/*оформление основного контента*/
.main-information{
    background: #eff3f7;
    margin-bottom: 2em;
    width: 750px;
}


.main-name{
    display: table-cell;
    vertical-align: middle;
    background: #eff3f7 url(img/line2.png) bottom left no-repeat;
    font: 1.4em FiraSansRegular;
    color: #3ba8c0;
    padding: 1em;
    width: 100%
}

.foto{
    padding: 1.5em 0 1.5em 1.5em;
}

.fa-edu{
    width: 1.5em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #58697a;
    margin-left: 0.3em;
    margin-bottom: 0.2em
}

.information{
    font: 1.1em FiraSansRegular ;
    color: #4a545d;
    padding: 1.5em;
    line-height: 2;
    display: inline-block
}

.main-content{
    display: flex;
    align-items: center;
}

.information span{
    font: 1em FiraSansMedium;
}
/* Конец оформление основного контента*/

footer{
    width: 100%;
    height: 60px;
    background: #eff3f7 url(img/line.png) top center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0
}

.footertext{
    font: 10pt FiraSansLight bold;
    color: #5a636b
}

/*стили для страницы с работами*/
.workcontent{
    min-height: 500px;
    display: block !important
}

.project-foto{
    margin-bottom: 0.8em
}

.project-foto img{
    width: 190px;
    height: 100px;
    border: 1px solid #3ba8c0;
    border-radius: 5%
}

.projects{
    margin: 1.7em;
    display: inline-block;
}

.project-adress{
    text-align: center
}

.project-adress a{
    font: 1em FiraSansRegular;
    color: #3ba8c0;
    text-decoration:none;
    margin: 1em 0 1em 0
}

.project-info{
    color: #687078;
    font: 1.1em FiraSansRegular;
    margin-top: 0.5em;
    text-align: center
}

/*конец стили для страницы с работами*/


/*стили для страницы обратной связи*/

.call-content-header{
    height: 120px;
    text-align: center;
    display: flex;
    background: #48cbe8;
    width: 100%;
    justify-content: center;
    align-items: center;
    font: 1.5em FiraSansRegular;
    color: white
}

.call-line{
    width: 100%;
    height: 20px;
    background: #67dffa
}


.input-text{
    border: 1px solid #48cbe8;
    padding: 10px;
    font: 1em FiraSansRegular ;
    color: #49b6ce;
    border-radius: 3%;
    box-sizing: border-box
}

::-webkit-input-placeholder {
    color: #48cbe8;
}

.forma{
    display: flex;
    justify-content: center;
    margin-top: 3em
}

.form{
    margin-top: 0.8em;
    color: #a4a9b1;
    width: auto
}

.form-line{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box
}

.textarea{
    min-width: 445px;
    height: 250px;
    max-width: 728px;
}

.name{
    font: 1.2em FiraSansRegular;

}

.form-buttons{
    width: 140px;
    height: 30px;
    color: white;
    padding: 10px
}

.submit-left{
    float: left;
    background-color: #48cbe8;
    border: 1px solid #48cbe8;
}

.reset-rigth{
    float: right;
    background-color: #849db5;
    border: 1px solid #849db5;
}

.form-btn{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    font: 1em FiraSansRegular;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-btn:hover{
    border-bottom: 2px solid #848c8c
}

.form-btn:active{
    border-top: 2px solid #848c8c;
    border-bottom: 0px
}

.form-capcha{
    display: flex;
    justify-content: center;
}
/*конец стили для страницы обратной связи*/


/*стили для страницы авторизации*/

.center{
    align-items: center;
    align-content: center;
    height: 70vh
}

.auth-block{
    height: 80px;
    width: 300px
}

.auth{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eff3f7;
    border: 1px solid #dddede
}

.auth-name{
    font: 1.7em FiraSansLight;
    color: #959aa8;
    margin: 5px
}

.width80{
    width: 80%
}

.auth-btn{
    background-color: #48cbe8;
    border: 1px solid #48cbe8;
}
/* конецстили для страницы авторизации*/

.popup {
    position: fixed;
    left: 46%;
    width: 200px;
    z-index: 2;
}
.close{
    color: black
}
.pophead{
    display: flex;
    justify-content: space-between;
    background: #48cbe8 url(img/line.png) bottom center no-repeat;
    padding: 10px
}
.poptext{
    font: 1em FiraSansRegular;
    color: #5a636b
}
.popbody{
    height: 100px;
    background: #eff3f7;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: inherit
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .8;
    z-index: 2;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
display: flex;
justify-content: center
}
th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: #F8E391;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}





